.pagination {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.pagination-ul {
    display: table;
    padding-left: 0;
    border-radius: 4px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
}

.pagination-ul li:first-child a {
    background: #11b719;
    border: 1px solid #11b719;
    border-radius: 2px;
    color: #fff;
}

.pagination-ul>li>a,
.pagination-ul>li>span {
    position: relative;
    float: left;
    padding: 12px 20px;
    margin: 5px;
    line-height: 1.42857143;
    color: #5a6f7c;
    text-decoration: none;
    background-color: #fff;
    border-radius: 2px;
}

.pagination-ul>.active>a,
.pagination-ul>.active>a:focus,
.pagination-ul>.active>a:hover,
.pagination-ul>.active>span,
.pagination-ul>.active>span:focus,
.pagination-ul>.active>span:hover,
.pagination-ul>li>a:focus,
.pagination-ul>li>a:hover {
    z-index: 2;
    color: #11b719;
    cursor: pointer;
    background-color: rgba(7, 177, 7, 0.1);
    border-color: #11b719;
}

.pagination-ul li:last-child a {
    background: #35434e;
    border: 1px solid #35434e;
    border-radius: 2px;
    color: #fff;
}

.section-title {
    padding-bottom: 40px;
    margin-top: 14vh;
}

.search {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: -22vh;
    margin-left: 0vh;
    margin-bottom: 8vh;
}

.search input {
    margin-right: 3vh;
    border: 1px solid chartreuse;
    border-radius: 6px;
    padding: 3px;
}

.category label {
    display: inline-block;
    font-weight: 700;
}

.category select {
    word-wrap: normal;
    width: 31vh;
    border: 1px solid transparent;
    display: block;
    margin-top: 1vh;
    outline: none;
}

.category-courses {
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.price {
    margin-bottom: -12vh;
    margin-top: 8vh;
    cursor: pointer;
}

.price h2 {
    font-weight: bold;
}

.category option {
    background: transparent;
}

.price .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.price .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom radio button */

.price .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.price .container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.price .container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.price .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.price .container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.price .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.price h4 {
    font-weight: bolder;
}

.category h4 {
    font-weight: bolder;
}

.search button {
    background: none;
    border: none;
}

@media (max-width:755px) {
    .category-courses {
        flex-direction: row-reverse;
        margin: auto;
        justify-content: center;
        margin-top: 12vh;
        margin-bottom: -14vh;
    }
    .price {
        display: none;
    }
    .category {
        display: none;
    }
    .mt-4 {
        margin-top: 5.5rem!important;
    }
    .search {
        margin: auto;
        margin-top: -12vh;
        margin-bottom: 8vh;
    }
    .search input {
        margin-right: 3vh;
        border: 1px solid chartreuse;
        border-radius: 6px;
        padding: 3px;
        width: 40vh;
    }
}


/* for video  */